/********************
***GERAIS************
*********************/

/*títulos*/
h1, h2, h3, h4, h5, h6 { padding: 0; }
h1 { font-size: 3em; color: #dd5f00; text-transform: uppercase; }
h2 { font-size: 3em; color: #dd5f00; text-transform: uppercase; }
h3 { font-size: 1.8em; color: #9e9e9e; }
h4 { font-size: 1.6em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1em; }

/*textos*/
p {
	padding: 15px 0;
	line-height: 1.2em;
}

/*botões*/
.btn, .btn-large {
	background-color: #dd5f00 !important;
}

/*header*/
header nav {
	position: fixed; z-index: 10;
	background-color: #0009 !important;
	box-shadow: none;
}
header nav .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
header nav h1 {
	display: inline-block;
	width: 50px; height: 40px;
	margin: 0;
	text-indent: -9999px;
	background-image: url('../img/logo_branco.png'); background-size: contain; background-repeat: no-repeat;
}
header nav a {
	padding: 20px 10px;
	font-weight: bold;
	cursor: pointer;
}
header nav a:hover {
	background-color: #dd5f00e6;
}

/*PARALLAX*/
.main-info {
	padding: 180px 0 0 0;
	text-align: center;
}
.main-info h1 {
	width: 300px; height: 100px;
	display: inline-block;
	margin-bottom: 10px;
	font-size: 4em; font-weight: 300; color: #fff !important; text-indent: -9999px;
	background-image: url('../img/logo.png'); background-size: contain;
}
.main-info h5 {
	margin: 10px 0;
	font-size: 1.5em; font-weight: 300; color: #fff !important; text-shadow: 2px 2px 2px #000;
}

.areaCinza {
	background-color: #eee;
}
.height200 {
	height: 200px;
}
.height700 {
	height: 700px;
}

.section { background: url('../img/areas_bg.png'); }

/*Portfólio*/
.portfolio {
	text-align: center;
}
.gallery {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 40px 0 0 0;
}
.gallery-item {
	width: 33%; height: 200px;
	box-sizing: border-box;
	overflow: hidden;
	margin-bottom: 1em;
}
.gallery-item .material-placeholder {
	width: 100%; height: 200px;
	box-sizing: border-box;
}
.gallery-item img {
	width: 100%; height: auto;
	object-fit: cover;
	
}

/*sobre mim*/
.sobre {}
.sobre .col {
	text-align: left;
}

/*contato*/
.contato {
	background: url('../img/footer_bg.png') #191919;
}
.contato h2 { color: #fff; }
.contato h3 { color: #565656; }
.contato textarea, .contato input {
	margin-top: 10px !important;
	background-color: #ddd !important;
}
.contato textarea {
	height: 100px;
}
.contato button {
	width: 100%;
}

/*FOOTER*/
footer.page-footer {
	padding-top: 0;
	background-color: #191919;
}
.footer-copyright {
	background-color: #121212 !important;
}
.footer-copyright .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}